* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*et reset pour ::before ::after ?
est-ce une bonne pratique ?*/

body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #000000;
	width:auto; 
	margin: auto;
	max-width: 1800px; /* pour les super grands écran ? Trouver les bonnes dimensions*/
}

a {
	text-decoration: none;
	color: #000000;
}

i {
	color: #0065fc;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 15px;
}

/* Search */

.fas.fa-map-marker-alt {
	color: #000000;
}

/* Filtre */

/*  Main  */

article {
	background-color: #ffff;
	border: 0px solid transparent;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

#section_housing {
	background: #f2f2f2;
	padding: 50px;
	border-radius: 25px 25px 25px 25px;
}

.img_housing {
	border-radius: 25px 25px 0px 0px;
}

aside {
	background: #f2f2f2;
	padding: 50px;
	border-radius: 25px 25px 25px 25px;
}

.img_popular{
	border-radius: 25px 0px 0px 25px;
}

.img_activity{
	border-radius: 25px 25px 0px 0px;
}

#template_card_housing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media only screen and (max-width: 768px) {
	#template_card_housing {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

/*a retravailler avec les colonnes et les titres */

#anchor_housing {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.img_housing img,
.img_popular img {
	width: 100%;
	height: 115px;
	object-fit: cover;
}
/* demander à maxime de m'expliquer pourquoi je dois renseigner img */

.img_housing,
.img_popular {
	overflow: hidden;
	width: 100%;
	height: 115px;
}
/* demander à maxime à quoi ça sert et si c'est utile*/

.card_housing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
}

.card_popular {
	display: flex;
	flex-direction: row;
	justify-content: center; /* ça va pas... à retravailler */
	padding: 5px;
}

.fas.fa-chart-line {
	color: #000000;
}

/* Activity */

.img_activity img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.img_activity {
	overflow: hidden;
	width: 100%;
	height: 90%;
}

.title_activity{
	height: 55px;
}

#anchor_activity {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	grid-template-rows: 50px 190px 45px 45px 160px;
}

#activity_main_title {
	grid-area: 1 / 1 / 1 / 1;
}

#card_activity_port {
	grid-area: 2 / 1 / 6 / 2;
}

#card_activity_fort {
	grid-area: 2/2/4/3;
}

#card_activity_frioul {
	grid-area: 5/2/6/3;
}

#card_activity_parc_c {
	grid-area: 2/3/6/4;
}

#card_activity_garde {
	grid-area: 2/4/3/5;
}

#card_activity_parc_l {
	grid-area: 4/4/6/5;
}

/*  Footer  */

footer {
	background: #f2f2f2;
	color: #000000;
	padding: 20px 30px 20px 30px; /* A déterminer */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

footer ul {
	list-style-type: none;
}

footer li {
	margin: 10px;
}
