* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #000000;
	width: auto;
	margin: auto;
	max-width: 1440px;
}

a {
	text-decoration: none;
	color: #000000;
}

i {
	color: #0065fc;
}

h2,
.button span {
	font-size: 1.14em;
	font-weight: bold;
}

/* --------------------- Header --------------------- */

header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 5fr 2fr 1fr;
	margin: 0px 4% 0px 4%;
	text-align: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	grid-area: 1/3;
}

nav a:hover {
	border-top: 3px solid #0065fc;
	color: #0065fc;
}

header a {
	padding: 3em 2em;
}

#subscription {
	color: #0065fc;
	font-weight: bold;
	grid-area: 1/4;
}

#subscription:hover {
	color: #0447ac;
}

@media only screen and (max-width: 640px) {
	header {
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr;
	}

	nav {
		grid-area: 2/1/3/4;
	}

	#subscription {
		grid-area: 1/3;
	}

	nav a {
		border-bottom: 3px solid #f2f2f2;
		padding: 1em;
		width: 50%;
	}

	nav a:hover {
		border-bottom: 3px solid #0065fc;
		border-top: none;
		color: #0065fc;
	}
}

/* ------------------------- Search -------------------- */

#section_filter_search {
	margin: 0px 4% 30px 4%;
}

#section_filter_search h1 {
	margin: 10px 0px 10px 0px;
}

.fas.fa-map-marker-alt {
	color: #000000;
}

#search {
	display: inline-flex;
	align-items: center;
	margin: 20px 0px 10px 0px;
}

.fas.fa-map-marker-alt {
	background-color: #f2f2f2;
	border: #deebff;
	padding: 15px;
	border-radius: 15px 0px 0px 15px;
}

input {
	border: 2px solid #f2f2f2;
	border-right: none;
	border-left: none;
	padding: 13px;
}

input:focus {
	border: 2px solid #0065fc;
	outline: none;
}

.button_search,
.button_search_icon {
	background-color: #0065fc;
	color: #ffff;
	border: #deebff;
	padding: 15px;
	cursor: pointer;
	border-radius: 0px 15px 15px 0px;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.button_search_icon {
	display: none;
}

.fas.fa-search {
	color: #ffff;
}

.button_search:hover {
	background-color: #0447ac;
	transition-duration: 0.2s;
}

.button_search:active {
	background-color: #deebff;
}

.button_search_icon:hover {
	background-color: #0447ac;
	transition-duration: 0.2s;
}

.button_search_icon:active {
	background-color: #deebff;
}

@media only screen and (max-width: 768px) {
	.button_search {
		display: none;
	}
	.button_search_icon {
		display: block;
	}
}

/* ----------------- Filtre --------------------- */

#filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px 0px 10px 0px;
}

.button {
	border: 2px solid #f2f2f2;
	background-color: transparent;
	padding: 0px 20px 0px 52px;
	margin: 10px;
	height: 50px;
	border-radius: 40px;
	cursor: pointer;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	position: relative;
}

.button i {
	background-color: #deebff;
	border: #deebff;
	border-radius: 40px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -2px;
	left: -2px;
}

.button:hover {
	background-color: #deebff;
	transition-duration: 0.2s;
}

.button:hover i {
	background-color: #ffff;
	transition-duration: 0.2s;
}

.button:active {
	background-color: #0065fc;
}

#info_filter {
	display: flex;
	align-items: center;
}

#info_filter i {
	border: 1px solid #f2f2f2;
	padding: 5px 10px 5px 10px;
	border-radius: 100%;
	margin: 0 15px 0 0;
}

/* ---------------- Main ---------------------- */
.fas.fa-star.empty {
	color: lightgrey;
}

article {
	background-color: #ffff;
	border: 0px solid transparent;
	border-radius: 25px;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

article:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: 0.1s;
}

#anchor_housing {
	display: grid;
	column-gap: 40px;
	grid-template-columns: 6fr 3fr;
	margin: 0px 4% 0px 4%;
}

@media only screen and (max-width: 1366px) {
	#anchor_housing {
		grid-template-columns: 1fr;
		grid-gap: 40px;
		margin: 0px;
	}
	aside {
		grid-row: 1;
	}
}

/* -------------------------*/

#section_housing {
	background: #f2f2f2;
	padding: 40px;
	border-radius: 25px;
}

@media only screen and (max-width: 1366px) {
	#section_housing {
		background: none;
		padding: 0px 4% 0px 4%;
		border-radius: 0px;
	}
}

#template_card_housing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media only screen and (max-width: 768px) {
	#template_card_housing {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

@media only screen and (max-width: 640px) {
	#template_card_housing {
		grid-template-columns: 1fr;
	}
}

.card_housing {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 5px;
}

.img_housing {
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	width: 100%;
	height: 115px;
}

.img_housing img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

#housing_main_title {
	margin-bottom: 25px;
}

#housing_title_more {
	margin-top: 40px;
}

.title_housing {
	margin: 10px 0px 0px 14px;
}

.price_housing {
	margin: 8px 0px 0px 14px;
}

.rating_housing {
	margin: 8px 0px 6px 14px;
}

/* ------------------------- */

aside {
	background: #f2f2f2;
	padding: 40px;
	border-radius: 25px;
}

@media only screen and (max-width: 1366px) {
	aside {
		padding: 4%;
		border-radius: 0px;
	}
}

#template_card_popular {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
}

@media only screen and (max-width: 1366px) {
	#template_card_popular {
		gap: 20px;
	}
}

.card_popular {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	padding: 5px;
}

.img_popular {
	border-radius: 20px 0px 0px 20px;
	overflow: hidden;
	width: 130px;
	min-width: 130px;
	height: 145px;
}

.img_popular img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fas.fa-chart-line {
	color: #000000;
}

#popular_main_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.fas.fa-chart-line {
	font-size: 1.5em;
}

.info_popular {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title_price_popular h3 {
	margin: 10px 0px 8px 14px;
}

.title_price_popular p {
	margin: 0px 0px 8px 14px;
}

.rating_popular {
	margin: 0px 0px 6px 14px;
}

/* --------------------------- Activity -------------------------- */

.img_activity {
	border-radius: 25px 25px 0px 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.img_activity img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title_activity {
	margin: 20px;
}

#anchor_activity {
	margin: 50px 4% 50px 4%;
}

#anchor_activity article {
	display: flex;
	flex-direction: column;
}

#template_card_activity {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	grid-template-rows: 190px 45px 45px 160px;
}

#activity_main_title {
	margin-bottom: 25px;
}

#card_activity_port {
	grid-area: 1 / 1 / 5 / 2;
}

#card_activity_fort {
	grid-area: 1/2/3/3;
}

#card_activity_frioul {
	grid-area: 4/2/5/3;
}

#card_activity_parc_c {
	grid-area: 1/3/5/4;
}

#card_activity_garde {
	grid-area: 1/4/2/5;
}

#card_activity_parc_l {
	grid-area: 3/4/5/5;
}

@media only screen and (max-width: 1366px) {
	#template_card_activity {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 30px;
	}

	#anchor_activity article {
		grid-area: auto;
		max-height: 200px;
	}
}

@media only screen and (max-width: 1024px) {
	#template_card_activity {
		grid-template-columns: repeat(2, 1fr);
	}

	#anchor_activity article {
		max-height: 170px;
	}
}

@media only screen and (max-width: 768px) {
	#template_card_activity {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
}

/* -------------------------- Footer ------------------------------ */

footer {
	background: #f2f2f2;
	color: #000000;
	padding: 40px 4% 0px 4%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-width: max-content;
}

footer ul {
	list-style-type: none;
}

footer li {
	margin: 10px 0px 0px 0px;
}

footer h2 {
	margin: 0px 0px 20px 0px;
}

.footer_bloc {
	margin: 0px 40px 40px 0px;
}

@media only screen and (max-width: 768px) {
	footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
}
