* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*et reset pour ::before ::after ?
est-ce une bonne pratique ?*/

body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #000000;
}

a {
	text-decoration: none;
	color: #000000;
}

i {
	color: #0065fc;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

#main_wrapper {
	width: auto; /* A voir si on garde ou pas une fois que la mise en page sera terminée*/
	/* récupérer les bonnes dimensions avec Figma !!!*/
	margin: auto;
	max-width: 1800px; /* pour les super grands écran ? Trouver les bonnes dimensions*/
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 15px;
}

/* Search */

.fas.fa-map-marker-alt {
	color: #000000;
}

/* Filtre */

/*  Main  */

article {
	background-color: #ffff;
	border: 0px solid transparent;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

#section_housing {
	background: #f2f2f2;
	padding: 50px;
}

.img_housing {
	border-radius: 30px 30px 0px 0px;
}

aside {
	background: #f2f2f2;
}

#template_card_housing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media only screen and (max-width: 768px) {
	#template_card_housing {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

/*a retravailler avec les colonnes et les titres */

#anchor_housing {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.card_housing {
	padding: 8px;
	/* récupérer les bonnes dimensions avec Figma !!!*/
}

.card_popular {
	padding: 8px;
	/* récupérer les bonnes dimensions avec Figma !!!*/
}

.img_housing img,
.img_popular img,
.img_activity img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}
/* demander à maxime de m'expliquer pourquoi je dois renseigner img */

.img_housing,
.img_popular,
.img_activity {
	overflow: hidden;
	width: 100%;
	height: 150px;
}
/* demander à maxime à quoi ça sert et si c'est utile*/

.card_housing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card_popular {
	display: flex;
	flex-direction: row;
	justify-content: center; /* ça va pas... à retravailler */
}

.fas.fa-chart-line {
	color: #000000;
}

/* Activity */

#anchor_activity {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	grid-template-rows: 50px 14em 4em 4em 4em 4em 14em; /*trouver les bonnes dimensions*/
}

#activity_main_title {
	grid-area: 1 / 1 / 1 / 1;
}

#card_activity_port {
	grid-area: 2 / 1 / 7 / 2;
}

#card_activity_fort {
	grid-area: 2/2/5/3;
}

#card_activity_frioul {
	grid-area: 6/2/7/3;
}

#card_activity_parc_c {
	grid-area: 2/3/7/4;
}

#card_activity_garde {
	grid-area: 2/4/3/5;
}

#card_activity_parc_l {
	grid-area: 4/4/7/5;
}

/*  Footer  */

footer {
	background: #f2f2f2;
	color: #000000;
	padding: 20px 30px 20px 30px; /* A déterminer */
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

footer ul {
	list-style-type: none;
}

footer li {
	margin: 10px;
}
