
body {
	font-family: "Raleway", Arial, sans-serif;
	color: #000000;
}

a {
	text-decoration: none;
	color: #000000
}

i {
	color:#0065FC
}

h2{
	font-size: 1em;
	font-weight: bold;
}

#main_wrapper {
	width: 1000px; /* A voir si on garde ou pas une fois que la mise en page sera terminée*/
	margin: auto;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 15px;
}

/*  Main  */

#section_housing,
aside {
	background: #f2f2f2;
}

#anchor_housing {
	display: flex;
	flex-direction: row;
	align-content: space-between ;
	align-items: flex-start;
}
/*a retravailler parceque ça marche pas du tout !!!!!!*/

article {
	background-color: #ffff; 
	border: 0px solid transparent;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 3px 4px 11px 5px rgba(0,0,0,0.10);
}

.card_housing, .card_popular {
	padding: 8px;
}

.card_housing{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card_popular{
	display: flex;
	flex-direction: row;
	justify-content: center;
}


/*  Footer  */

footer {
	background: #f2f2f2;
	color: #000000;
	padding-top: 5px; /* A déterminer */
	display: flex;
	justify-content: space-between;
}

footer ul {
	list-style-type: none;
}
