* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*et reset pour ::before ::after ?
est-ce une bonne pratique ?*/

body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #000000;
	width: auto;
	margin: auto;
	max-width: 1800px; /* pour les super grands écran ? Trouver les bonnes dimensions*/
}

a {
	text-decoration: none;
	color: #000000;
}

i {
	color: #0065fc;
}

h2,
.button span {
	font-size: 1.14em;
	font-weight: bold;
}

main {
	padding: 0px 50px 50px 50px;
}

/* --------------------- Header --------------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 50px 25px 50px;
}

#links {
	display: flex;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	width: 160px;
	text-align: center;
}

nav li :hover {
	border-top: 2px solid #0065fc;
	color: #0065fc;
}

/*PB: Travailler sur la bordure!! */

#subscription {
	color: #0065fc;
	font-weight: bold;
}

/* ------------------------- Search -------------------- */

#section_filter_search h1, #section_filter_search
p {
	margin: 10px 0px 10px 0px;
}

.fas.fa-map-marker-alt {
	color: #000000;
}

#search{
	display: inline-flex;
	align-items: center;
	margin: 10px 0px 10px 0px;
}

.fas.fa-map-marker-alt{
	background-color: #f2f2f2;
	border: #deebff;
	padding: 15px;
	border-radius: 15px 0px 0px 15px;
}

/*PB: travailler font bouton et padding*/
input{
	border: 2px solid #f2f2f2;
	border-right: none;
	border-left: none;
	padding:13px;
}

input:focus{
	border: 2px solid #0065fc;
	outline:none;
}

.button_search, .button_search_icon{
	background-color: #0065fc;
	color:#ffff;
	border: #deebff;
	padding: 15px;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
}

.fas.fa-search{
	color:#ffff;
}

.button_search:hover {
	background-color: #0447ac;
	transition-duration: 0.20s;
}

.button_search:active {
	background-color:#deebff ;
}

/*PB:est-ce vraiment utile car sur mobile ?*/
.button_search_icon:hover {
	background-color: #0447ac;
	transition-duration: 0.20s;
}

/*PB:est-ce vraiment utile car sur mobile ?*/
.button_search_icon:active {
	background-color:#deebff ;
}

.button_search_icon{
	display:none;
}

/* ----------------- Filtre --------------------- */

#filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px 0px 10px 0px;
}

/*PB: reprendre les boutons car les ronds ne sont pas ronds (surtout familial)*/
/*PB: reprendre la partie font sur les boutons*/
.button {
	border: 2px solid #f2f2f2;
	background-color: transparent;
	padding: 0px 20px 0px 0px;
	margin: 10px;
	border-radius: 40px;
	cursor: pointer;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.button i {
	background-color: #deebff;
	border: #deebff;
	padding: 18px;
	margin: 0 10px 0 0;
	border-radius: 40px;
}

.button:hover {
	background-color: #deebff;
	transition-duration: 0.20s;
}

.button:hover i {
	background-color: #ffff;
	transition-duration: 0.20s;
}

/*PB: mini marge autour icone ...*/

.button:active {
	background-color: #0065fc;
}

#info_filter {
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;
}

#info_filter i {
	border: 1px solid #f2f2f2;
	padding: 5px 10px 5px 10px;
	border-radius: 100%;
	margin: 0 15px 0 0;
}

/* ---------------- Main ---------------------- */
.fas.fa-star.empty{
	color:lightgrey;
}

article {
	background-color: #ffff;
	border: 0px solid transparent;
	border-radius: 25px ;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

article:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: 0.1s;
}

#anchor_housing {
	display: grid;
	column-gap: 40px;
	grid-template-columns: 6fr 3fr;
}

/*PB: c'est toujours pas la bonne taille de carte putain*/
/*PB: essayer avec flex sur les section housing et popular pour aligner les éléments*/

/* -------------------------*/

#section_housing {
	background: #f2f2f2;
	padding: 40px;
	border-radius: 25px;
}

#template_card_housing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media only screen and (max-width: 768px) {
	#template_card_housing {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}

.card_housing {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 5px;
}

.img_housing {
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	width: 100%;
	height: 115px;
}

.img_housing img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

#housing_main_title{
	padding-bottom: 25px;
}

#housing_title_more{
	padding-top: 40px;
}

.title_housing{
	padding: 10px 0px 0px 14px;
}

.price_housing{
	padding: 8px 0px 0px 14px;
}

.rating_housing{
	padding: 8px 0px 6px 14px;
}

/* ------------------------- */

aside {
	background: #f2f2f2;
	padding: 40px;
	border-radius: 25px;
}

#template_card_popular {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
}

.card_popular {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	padding: 5px;
}

.img_popular {
	border-radius: 20px 0px 0px 20px;
	overflow: hidden;
	width: 130px;
	min-width: 130px;
	height: 135px;
}

.img_popular img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fas.fa-chart-line {
	color: #000000;
}

#popular_main_title{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
}

.fas.fa-chart-line{
	font-size: 1.5em;
}

.info_popular{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title_price_popular h1{
	padding: 10px 0px 8px 14px;
}

.title_price_popular p{
	padding: 0px 0px 8px 14px;
}

.rating_popular{
	padding: 0px 0px 6px 14px;
}

/* --------------------------- Activity -------------------------- */

/* pb à résoudre: 
images pas centrées comme dans maquette */

.img_activity {
	border-radius: 25px 25px 0px 0px;
	overflow: hidden;
	flex-basis: 90%;
}

.img_activity img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title_activity {
	flex-basis: 55px;
	padding: 20px;
}

/*PB:flex basis pas sur que ça serve vraiment */

#anchor_activity article {
	display: flex;
	flex-direction: column;
}

#anchor_activity {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;
	grid-template-rows: 50px 190px 45px 45px 160px;
	padding: 40px 0px 0px 0px;
}

/*PB: sortir le titre de la grid */
#activity_main_title {
	grid-area: 1 / 1 / 1 / 1;
}

#card_activity_port {
	grid-area: 2 / 1 / 6 / 2;
}

#card_activity_fort {
	grid-area: 2/2/4/3;
}

#card_activity_frioul {
	grid-area: 5/2/6/3;
}

#card_activity_parc_c {
	grid-area: 2/3/6/4;
}

#card_activity_garde {
	grid-area: 2/4/3/5;
}

#card_activity_parc_l {
	grid-area: 4/4/6/5;
}

/* -------------------------- Footer ------------------------------ */

footer {
	background: #f2f2f2;
	color: #000000;
	padding: 0px 50px 40px 50px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

footer ul {
	list-style-type: none;
}

footer li {
	margin: 10px 0px 0px 0px; /*ou padding ?*/
}

footer h2 {
	margin: 0px 0px 20px 0px; /*ou padding ?*/
}

.footer_bloc {
	margin: 50px 260px 0px 0px; /*ou padding ?*/
}
